[Unit]
Description=gslauth gunicorn daemon
Requires=gslauth_gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=holub
Group=wxusers

# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
WorkingDirectory=/home/holub/vscodeprojects/gslauth

#ExecStart=/home/holub/vscodeprojects/gslauth/venv/bin/gunicorn --bind unix:/run/gslauth_gunicorn.sock --workers=1 --env DJANGO_SETTINGS_MODULE=gslauth.settings --access-logfile /var/log/gunicorn/gslauth_access.log --error-logfile /var/log/gunicorn/gslauth_error.log gslauth.wsgi
ExecStart=/home/holub/vscodeprojects/gslauth/venv/bin/gunicorn --bind unix:/run/gslauth_gunicorn.sock --workers=1 --env DJANGO_SETTINGS_MODULE=gslauth.settings gslauth.wsgi

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

# Restart workers when code changes (development only!)
reload = False

# Redirect stdout/stderr to log file
capture_output = True

[Install]
WantedBy=multi-user.target
